@import "tailwindcss";

@layer base {
  html {
    @apply bg-black text-white;
  }

  body {
    font-family: "Exo 2", sans-serif;
  }
}

/* Logo / branding font */
.test-font {
  font-family: "Momo Signature", cursive;
}

.page-font {
    font-family: "Exo 2", sans-serif;
  }